/* TIPOGRAFIA */

body, body *{
  font-family: system-ui, sans-serif;
}

/* ESTILOS GLOBAIS */
.App{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  max-width: 600px;
  padding-block: 2rem;
  padding-inline: 1rem;
}

  .titulo{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .mensagemVazia{
    color: hsl(0, 0%, 70%);
    font-size: 1.25rem;
    font-weight: 700;
  }